.section {
  position: relative;
  width: 100%;
  padding-bottom: var(--space-section);
}

.headingWrap {
  position: relative;
  z-index: 5;
  padding: 0 var(--container-pad);
  margin-bottom: var(--space-2xl);
}
